{% extends "base.html" %}
{% load staticfiles %}
{% load website_tags %}

{% block head %}

{% endblock %}


{% block title %}
	{% if source %}
		Editing: {{ source }}
	{% else %}
		Adding a source
	{% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Source: {{ source }}</h1>
    </div>

    <form action="{% if source %}{% url "source-edit" source.slug %}{% else %}{% url "source-add" %}{% endif %}" method="post" class="form-inline">
        {% csrf_token %}
		{{ form.management_form }}
		{{ form.id.as_hidden }}
{% if form.non_field_errors %}
<div class="validation-err">{{form.non_field_errors}}</div>{% endif %}        
		<table id="source-form" class="table table-bordered table-condensed">
			{% for field in form %}
                <tr>
					<th class="span6"> 
						<p>{{ field.label_tag }}</p>
						<p class="help-block">{{ field.help_text }}</p>
					</th class="span8">
					<td {% if field.errors %}class="error"{% endif %}>
						{{ field }}
		                {% if field.errors %}
		                {% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
        <button type="submit" class="submit-form" onclick="window.opener.location.reload();">Save Source </button>
    </form>
{% endblock %}



{% block end %}
   <script>
        $(document).ready(function() {
          $('.tip').tooltip();
        });
        
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
{% endblock %}
