{% extends "base.html" %}

{% block content %}

<div class="page-header">
<h1>Conditions of Use</h1>
</div>
Please do not cite or publish anything using the Pulotu dataset without the author’s permission. Pulotu is constantly being refined and updated so we appreciate any assistance from professional anthropologists in improving the accuracy of cultural profiles.
<p></p>
Pulotu can be cited as follows:
<p><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0136783" target="_blank">Watts J., Sheehan O., Greenhill S.J., Gomes-Ng S., Atkinson Q.D., Bulbulia J., Gray R.D. (2015). Pulotu: Database of Austronesian Supernatural Beliefs and Practices. PLoS ONE 10(9).</a></p>

{% endblock %}
