{% extends "base.html" %}
{% load website_tags %}
{% block title %}
Glossary{% endblock %}

{% block head %}
{% endblock %}
{% block content %}
        <div class="page-header">
		<h1>Glossary</h1></div>
{% if user.is_superuser %}
<a id = "addNew" href="{% url "admin:core_glossary_add" %}">Add Glossary Term</a>{% endif %}
		<div class = "alphabets">
    <ul class = "sortTerms">
	<li><a href="#A">A</a></li>
	<li><a href="#B">B</a></li>
	<li><a href="#C">C</a></li>
	<li><a href="#D">D</a></li>
	<li><a href="#E">E</a></li>
	<li><a href="#F">F</a></li>
	<li><a href="#G">G</a></li>
	<li><a href="#H">H</a></li>
	<li><a href="#I">I</a></li>
	<li><a href="#J">J</a></li>
	<li><a href="#K">K</a></li>
	<li><a href="#L">L</a></li>
	<li><a href="#M">M</a></li>
	<li><a href="#N">N</a></li>
	<li><a href="#O">O</a></li>
	<li><a href="#P">P</a></li>
	<li><a href="#Q">Q</a></li>
	<li><a href="#R">R</a></li>
	<li><a href="#S">S</a></li>
	<li><a href="#T">T</a></li>
	<li><a href="#U">U</a></li>
	<li><a href="#V">V</a></li>
	<li><a href="#W">W</a></li>
	<li><a href="#X">X</a></li>
	<li><a href="#Y">Y</a></li>
	<li><a href="#Z">Z</a></li>
	</ul>
	</div>

<table class="glossaryTerms">
{% for key, value in terms.items %}
<tr id="{{key}}" class="letter-title"><td>{{key}}</td></tr>
{% for v in value %}
{% if v %}

<tr><td class="term">{{v}}</td><td class="definition">{{v.definition}}</td></tr>
{% elif value|onlyone %}
<tr class="empty"><td></td></tr>

{% endif %}


{% endfor %}
{% endfor %}
</table>

{% endblock %}
