
	    <div class="guide">
		<h2>General Coding Guide:</h2>
		<p class= "notify">Note: you will be automatically redirected to this page
		upon successful completion of a survey section.</p>
		<p>
			For each item of this coding sheet, a description or excerpt must be
			provided (under "source") to justify the coding decision.
	    </p>
		<p>
			All sources must be uploaded to the online database &ndash; if a source is not
			available in electronic form, the relevant excerpt should be transcribed or
			scanned and uploaded.  Enter the page numbers of sources used according to the 
			instructions given when coding.
		</p>
		<p>
			If there are any interesting points or difficulties worth noting,
			please note them in the "Coder’s Notes" section.
		</p>
		<p>
			If there is not enough information to answer the question, code the item
			as "missing data".  
		</p>
		<p>
			If you are able to answer the question but have limited confidence in your answer,
			check the box 'uncertainty' and explain the reason for your uncertainty in the "Coder's Notes"
			section.
		</p>
		
		<p>
		
			If a particular variable varies within one culture please code the state that is most representative of the culture as a whole, unless otherwise instructed.
		</p>
	
    <p>   
    It is not always clear whether a cultural feature should be coded as “absent” or  “missing data”. Ethnographers are more likely to talk about the features of a culture that are present, rather than systematically list the features that are absent. For this reason, if there is a fair amount of information related to a feature but no mention of the feature itself, the feature should be coded as “absent” rather than “missing data”. 
    If information regarding the feature is incomplete or ambiguous, use your discretion in deciding whether the item should be coded “absent” or “missing data”. If you have limited confidence in your decision, please mark the item with an asterisk and state the reason for your uncertainty in the “coder’s notes” section. </p>
		<p class="notify"><u>Chrome / Safari Users</u>: before filling out a survey section page, please add all sources for that section to the database.  Click "Edit Sources" in the admin menu
		to add new sources.  Please do not use the 'Add New Source' feature on the survey section page.
		<br><br>
		<u>Firefox Users</u>: you can add sources as you answer each question.
		</p>

<p class="notify">Associated Languages for {{object}}:</p>
<ul>{% for lang in object.languages.all %}
<li>{{lang}} ({{lang.abvdcode}}) ({{lang.isocode}})</li>
{% endfor %}
</ul>	</div>
