{% load staticfiles %}

<table class="teamPhotos">
<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/RussellGray.jpg" %}"></td>
<td> Prof. Russell Gray <br>
<a href="http://www.psych.auckland.ac.nz/en/about/our-staff/academic-staff/russell-gray.html" target="blank">Website</a>
<br><a href="mailto:rd.gray@auckland.ac.nz">Email</a>

<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>
<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/SimonGreenhill.jpg" %}"></td>
<td> Dr. Simon Greenhill <br>
<a href="https://researchers.anu.edu.au/researchers/greenhill-s" target="blank">Website</a>
<br><a href="mailto:simon.greenhill@anu.edu.au">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>
<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/QuentinAtkinson.jpg" %}"></td>
<td> Dr. Quentin Atkinson <br>
<a href="http://www.fos.auckland.ac.nz/~quentinatkinson/Quentin_Atkinsons_Website/Home.html" target="blank">Website</a>
<br><a href="mailto:q.atkinson@auckland.ac.nz">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>
<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/JosephBulbulia.jpg" %}"></td>
<td> Dr. Joseph Bulbulia <br>
<a href="http://www.josephbulbulia.com" target="blank">Website</a>
<br><a href="mailto:joseph.bulbulia@vuw.ac.nz">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>
<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/JosephWatts.jpg" %}"></td>
<td> Joseph Watts <br>
<a href="http://www.josephwatts.org" target="blank">Website</a>
<br><a href="mailto:me@josephwatts.org">Email</a>

<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>

<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/OliverSheehan.jpg" %}"></td>
<td> Oliver Sheehan <br>
<a href="mailto:olcsheehan@gmail.com">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>

<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/StefNg.jpg" %}"></td>
<td> Stephanie Ng <br>
<a href="mailto:sng089@aucklanduni.ac.nz">Email</a>
<div class="personDescription">
Description of person goes here.
</div>
</td>
</tr>

<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/Angie.jpg" %}"></td>
<td> Dr. Angeline Song <br>
<a href="mailto:song.angeline@gmail.com">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>

<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/JoanneOng.jpg" %}"></td>
<td> Joanne Ong<br>
<a href="mailto:josyinn@gmail.com">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>

<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/KelseyBuntain.jpg" %}"></td>
<td> Kelsey Buntain<br>
<a href="mailto:kbun706@aucklanduni.ac.nz">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>

<tr>
<td> <img class="teamPhoto" src="{% static "img/TeamPhotos/AlexanderThomson.jpg" %}"></td>
<td> Alex Thomson<br>
<a href="https://ucla.academia.edu/AlexanderThomson">Website</a>
<br><a href="mailto:alexander.thomson@ucla.edu">Email</a>
<div class="personDescription">
Description of person goes here. Description of person goes here. Description of person goes here. Description of person goes here. 
Description of person goes here. Description of person goes here. 
</div>
</td>
</tr>
</table>
